<div class="dashboard">
    <aside *ngIf="isLogged" class="search-wrap">
        <div class="search">
            <label for="search">

            </label>
        </div>

        <div  class="user-actions">

            <div class="logocontainer">
                <img class="logoimg" alt="logo"
                    src="https://localizely.com/_next/static/chunks/images/translation-management-system-ab5f22777b55981bdbf8eeac21162ee8.png">

            </div>

            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path
                        d="M13.094 2.085l-1.013-.082a1.082 1.082 0 0 0-.161 0l-1.063.087C6.948 2.652 4 6.053 4 10v3.838l-.948 2.846A1 1 0 0 0 4 18h4.5c0 1.93 1.57 3.5 3.5 3.5s3.5-1.57 3.5-3.5H20a1 1 0 0 0 .889-1.495L20 13.838V10c0-3.94-2.942-7.34-6.906-7.915zM12 19.5c-.841 0-1.5-.659-1.5-1.5h3c0 .841-.659 1.5-1.5 1.5zM5.388 16l.561-1.684A1.03 1.03 0 0 0 6 14v-4c0-2.959 2.211-5.509 5.08-5.923l.921-.074.868.068C15.794 4.497 18 7.046 18 10v4c0 .107.018.214.052.316l.56 1.684H5.388z" />
                </svg>
            </button>
            <button (click)="logoutUser()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path
                        d="M12 21c4.411 0 8-3.589 8-8 0-3.35-2.072-6.221-5-7.411v2.223A6 6 0 0 1 18 13c0 3.309-2.691 6-6 6s-6-2.691-6-6a5.999 5.999 0 0 1 3-5.188V5.589C6.072 6.779 4 9.65 4 13c0 4.411 3.589 8 8 8z" />
                    <path d="M11 2h2v10h-2z" />
                </svg>
            </button>

        </div>
    </aside>

    <header *ngIf="isLogged" class="menu-wrap">
        <figure class="user">
            <div class="user-avatar">
                <img src="https://as2.ftcdn.net/v2/jpg/05/75/95/19/1000_F_575951908_JeyQE5NDmTHbbIwFvAG9eVZkPqgLT9U6.jpg"
                    alt="Amanda King">
            </div>

            <figcaption>
                Welcome {{UserName}}!
            </figcaption>
        </figure>

        <nav>
            <section class="ProjectManagement">
                <h3>Project Management</h3>

                <ul>
                    <li>
                        <a routerLink="/projects" routerLinkActive="active">
                            <i style="padding-right: 0.5rem;" class="pi pi-inbox"></i>
                            Manage Projects
                        </a>
                    </li>

                    <li>
                        <a routerLink="/tasks" routerLinkActive="active">
                            <i style="padding-right: 0.5rem;" class="pi pi-inbox"></i>
                            My Tasks
                        </a>
                    </li>


                </ul>
            </section>

            <section class="Reporting">
                <h3>Reporting</h3>

                <ul>
                    <li>
                        <a routerLink="/statistics" routerLinkActive="active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M21 20V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1zm-2-1H5V5h14v14z">
                                </path>
                                <path
                                    d="M10.381 12.309l3.172 1.586a1 1 0 0 0 1.305-.38l3-5-1.715-1.029-2.523 4.206-3.172-1.586a1.002 1.002 0 0 0-1.305.38l-3 5 1.715 1.029 2.523-4.206z">
                                </path>
                            </svg>
                            Projects Statistics
                        </a>
                    </li>
                </ul>
            </section>

        </nav>
    </header>

    <main class="content-wrap">
       

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>